@use "~/assets/scss/functions" as *;
@use "~/assets/scss/mixins" as *;

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: viewportSize(60) viewportSize(80);
  position: absolute;
  z-index: 2;
}

.Header__brand {
  @include fontStyling(32, 600, "Khand");
}

.Header__nav li a,
.Header__login {
  transition: color ease-in-out 0.25s;

  &:hover {
    color: getColor("sea");
  }
}

.Header__nav {
  li a {
    @include fontStyling(16, 600);
  }
}

.Header__search {
  display: flex;
  align-items: center;

  svg {
    width: viewportSize(20);
    stroke-width: 3;
    stroke: getColor("ivory");
  }

  input {
    margin-left: viewportSize(16);
    padding-right: viewportSize(32);
  }
}

.Header__login {
  @include fontStyling(16, 600);
}
